In [13]:
import sqlite3

In [14]:
connection = sqlite3.connect('OurDataBase.db')

In [15]:
cursor = connection.cursor()

In [16]:
#SQLITE DATATYPES

#INTEGER
#REAL
#TEXT
#BLOBS(Binary Large Objects)
#NULL

In [17]:
cursor.execute('CREATE TABLE employees(name TEXT, surname TEXT, salary REAL)')

OperationalError: table employees already exists

In [18]:
connection.commit()

In [25]:
cursor.execute("INSERT INTO employees VALUES('Max', 'Maxwell', 100000)")

In [26]:
connection.commit()

In [22]:
cursor.execute("SELECT * FROM employees")

In [23]:
cursor.fetchall()

[('Maria', 'Mayer', 100000.0)]

In [31]:
name = input("Provide a name: ")
surname = input("Provide a Surname: ")
salary = float(input("Provide a salary: "))

Provide a name: Anna
Provide a Surname: White
Provide a salary: 20000

In [32]:
cursor.execute("INSERT INTO employees VALUES(?, ?, ?)", (name, surname, salary))

In [33]:
cursor.execute("SELECT * FROM employees")

In [34]:
cursor.fetchall()

[('Maria', 'Mayer', 100000.0),
 ('Max', 'Maxwell', 100000.0),
 ('King', 'Arthur', 50000.0),
 ('Anna', 'White', 20000.0)]

In [35]:
class SQLinput:
    
    def __init__(self, name, surname, salary):
        self.name = name
        self.surname = surname
        self.salary = salary

In [36]:
inst = SQLinput('Denzel', 'Sullivan', 1000000)

In [37]:
name, surname, salary = inst.name, inst.surname, inst.salary

In [38]:
cursor.execute("INSERT INTO employees VALUES(?, ?, ?)", (name, surname, salary))

In [39]:
cursor.execute("SELECT * FROM employees")

In [40]:
cursor.fetchall()

[('Maria', 'Mayer', 100000.0),
 ('Max', 'Maxwell', 100000.0),
 ('King', 'Arthur', 50000.0),
 ('Anna', 'White', 20000.0),
 ('Denzel', 'Sullivan', 1000000.0)]